
<!DOCTYPE html>
<html lang="en-us"> 

	<head>
		
		<title>Create Car Pooling | Car Pooling</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Mmaboko Tiisetso">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/styles.css" />
    <script src="https://kit.fontawesome.com/5892b83959.js" crossorigin="anonymous"></script>
      

	</head>


	<body style="font-family :Tahoma,Verdana, sans-serif;  background : linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);">
		
		 <section id="navbar">
      <div class="topnav">
        <div class="left-div">
          <a  href="/home/<%= userid %>">Home</a>
          <a class="active" href= "/home/<%= userid %>/addRegister" >add Register</a> 
          <a href= "/home/<%= userid %>/edit_profile" >Profile settings</a>
          <a href= "/home/<%= userid %>/allCarPool" >View All Car Pool</a>
        
        </div>
        <div class="right-div">
          <span id="user-name"><%= userResult.name %> <%= userResult.surname %></span>
          <i class='fas fa-user-circle' onclick="dropDown()"></i>
        </div>
        
        <div class="dropdown">
					<ul>
						<li><a href="/home/<%= userid %>/edit_profile"><i class="fa fa-gear" aria-hidden="true"></i> Settings</a></li>
						<li><a href="/logout"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> Logout</a></li>
						
					</ul>
				</div>
      </div>
      
    </section><br><br><br>

		<div class="main-container">
			
			
			<div id="title"><h5>Create Car Pool Opportunity</h5><div>
			<hr style="border : 1px solid #f1f1f1;"><br>

			<form   method="post"  >
				
        <div class="input-container">
          <label for="departure">Departure time :</label>
				  <input id="departure" class="date-time" name="departure" type="datetime-local" autofocus required>
        </div>
        <div class="input-container">
          <label for="arrival">Expected Arrival time :</label>
				  <input id="arrival" class="date-time" name="arrival" type="datetime-local" id="text" required>
        </div>
        <div class="input-container">
          <label for="origin">Origin :</label>
				  <input id ="origin" value="" name="origin" type="text" id="text" placeholder="Enter your origin" required>
        </div>
        <div class="input-container">
          <label for="days_available">Days available :</label>
				  <input id="days_available" name="days_available" type="number" placeholder="Number of days your available" required>
        </div>
        
        <div class="input-container">
          <label for="destination">Destination :</label>
				  <input id="destination" name="destination" type="text"  placeholder="Enter your destination" required>
        </div>
        
        <div class="input-container">
          <label for="available_seats">Available seats :</label>
				  <input id="available_seats" type="number" name="available_seats" placeholder="Number of seats available" >
        </div>
        
        <div class="input-container">
          <label for="owner">Owner :</label>
				  <input type="text" name="owner" value="<%= userResult.name %>" placeholder="Enter your name" id ="owner">
        </div>
        <br>
        <div class="input-container">
          <label for="notes">Notes :</label>
          <textarea rows="4" cols="50" name="notes" maxlength="200" id ="notes" placeholder="Notes"></textarea>
        </div><br><br>
         <div id="button-container">
				  <input type="submit" id="register-button" value="Submit">
         </div>
				<br>
				
				<div id= "err-message"><h2><%= message %></h2></div>

			</form>

		</div>

	</body>
	

</html>
 <script type="text/javascript">
			function dropDown() {
        let element = document.querySelector(".dropdown");
        element.style.display = element.style.display === 'none' ? 'block' : 'none';
      }
</script>