
<!DOCTYPE html>
<html lang="en-us"> 

	<head>
		
		<title>Log In | Car Pooling</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="keyword" content="Car Pooling"/>
		<meta name="author" content="Mmaboko Tiisetso"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/styles.css" />

		<script type="text/javascript">
			function showpass() {
				var ele = document.getElementById("password");
				if (ele.type === "password") {
					ele.type = "text";
				}else{
					ele.type = "password";
				}
			}
		</script>

	</head>

	
	<body style="font-family:Tahoma,Verdana, sans-serif;  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);">
		
		
  <section>
		<div id="form-container" style="width:500px">
			
			<div class="err-message"><%= errMessage %></div>
			<div id="title"><h5>Log in</h5></div>
			<hr style="border: 1px solid #f1f1f1;"><br>

			<form action="/" method="post">
        
				
				<label for="email"><i class="fa fa-envelope" ></i> Email</label>
				<input value="" name="email" type="text" id="email" placeholder="Enter your Email" required><br>

				<label for="password"><i class="fa fa-key" ></i> Password</label>
				<input name="password" type="password" id="password" placeholder="Enter Password" required><br>

				
				<input type="checkbox" onclick="showpass()"> Show Password<br>

				<input type="submit" id="button" value="Login">
				<br>
				<div id="foot"><h5>By creating an acccount you agree to our <a href="" style="color: dodgerblue;">Terms & Privacy</a>.</h5><br>
          <div class="account">Don't have an account?<a href="/signup" style= "color: #ff00ff; text-decoration: none;"> Signup</a></div>
        
        </div>

			</form>

		</div>
  </section>

     <section>
        <div class="image-container">
            <img src="images/traffic_cars.jpeg" alt="Traffic Cars" style="width:100%;">
            <div class="content">
              <div id="title"><h1>Co Mute</h1><div>
              <p>With ever rising fuel prices and increased traffic on our roads, the Co-Mute project was started in an 
          effort to help alleviate some of these pressures. Car-pooling can cut on travelling and vehicle 
          maintenance costs. It also enables more effective use of commuters’ time, as time spent driving 
          could be spent more productively.
          </p>
          </div>
        </div>
    </section>
    

	</body>


</html>